<mat-toolbar color="primary">
  <span>{{ 'app.title' | translate }}</span>

  <span class="spacer"></span>

  <nav>
    <a mat-button routerLink="/funds" routerLinkActive="active">{{ 'nav.funds' | translate }}</a>
    @if (isInvestor()) {
      <a mat-button routerLink="/my-calls" routerLinkActive="active">{{ 'nav.myCalls' | translate }}</a>
    }
    @if (isFundManager()) {
      <a mat-button routerLink="/manage-calls" routerLinkActive="active">{{ 'nav.manageCalls' | translate }}</a>
    }
  </nav>

  <mat-button-toggle-group
    [value]="languageService.current()"
    (change)="switchLanguage($event.value)"
    aria-label="Language"
  >
    <mat-button-toggle value="en">EN</mat-button-toggle>
    <mat-button-toggle value="sk">SK</mat-button-toggle>
  </mat-button-toggle-group>

  @if (account()) {
    <button mat-stroked-button (click)="signOut()">{{ 'auth.signOut' | translate }}</button>
  } @else {
    <button mat-flat-button color="accent" (click)="signIn()">{{ 'auth.signIn' | translate }}</button>
  }
</mat-toolbar>

<main>
  <router-outlet />
</main>
