<mat-toolbar color="primary">
  <span>{{ 'app.title' | translate }}</span>

  <span class="spacer"></span>

  <nav>
    <a mat-button routerLink="/funds" routerLinkActive="active">{{ 'nav.funds' | translate }}</a>
    @if (isInvestor()) {
      <a mat-button routerLink="/my-calls" routerLinkActive="active">{{ 'nav.myCalls' | translate }}</a>
    }
    @if (isFundManager()) {
      <a mat-button routerLink="/manage-calls" routerLinkActive="active">{{ 'nav.manageCalls' | translate }}</a>
    }
  </nav>

  <button mat-button (click)="switchLanguage('en')">EN</button>
  <button mat-button (click)="switchLanguage('sk')">SK</button>

  @if (account()) {
    <button mat-button (click)="signOut()">{{ 'auth.signOut' | translate }}</button>
  } @else {
    <button mat-button (click)="signIn()">{{ 'auth.signIn' | translate }}</button>
  }
</mat-toolbar>

<main>
  <router-outlet />
</main>
